
build/

*.o

*.tif

*.xcuserstate

*.xcscheme

*.plist

*.xcbkptlist

*.pbxproj

volume

volume.xcodeproj/project.xcworkspace/contents.xcworkspacedata

volume.xcodeproj/project.xcworkspace/xcshareddata/volume.xccheckout

